ELEVENLABS_API_KEY=sk_aae2e946e1b8dd90c3c69318db93dac8a9521947da72e4e5
OPENAI_API_KEY=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